{{ define "main" }}

{{ $linkSection := replace (replace .CurrentSection.Dir "links/" "") "/" "" }}
{{ $linkSectionName := (index (where .Site.Data.categories "category" $linkSection) 0).name }}

<div class="main cat-{{ $linkSection }}">
    <h1>{{ $linkSectionName }} links</h1>
    {{ range .Pages }}
    <div class="link">
        <div class="link-meta">
            <a href='/issues/{{ printf "%03d" .Params.issue_number }}'>DT #{{ .Params.issue_number }}</a> &mdash;
            {{ .Date.Format "January 2, 2006" }} &mdash;
            {{ .Params.emoji }}
            <a href="{{ .URL }}">{{ .Title }}</a>
        </div>
        <div>
            {{ replace (replace .Content "<p>" "") "</p>" "" | safeHTML }}
        </div>
    </div>
    {{ end }}
</div>

{{ end }}