{{ define "main" }}

{{ $allIssues := where .Site.RegularPages ".Section" "in" "issues" }}
{{ $allStories := where .Site.RegularPages ".Section" "in" "stories" }}
{{ $allLinks := where .Site.RegularPages ".Section" "in" "links" }}
{{ $categories := .Site.Data.categories }}

{{ $paginator := .Paginate $allStories 5 }}

<div class="main">
    <div class="cat-index-background hey-there-fellow-kids">
        Hey there! I'm <a href="https://twitter.com/layon_overwhale">Leon</a> and I write Dynamically Typed.
        Check out the sidebar for more info about my newsletter and category overviews,
        or keep reading for my recent stories.
    </div>
    {{ range $paginator.Pages }}
    <div class="index-main story cat-index">
        <a href="{{ .URL }}">
            <h2>{{ .Title }}</h2>
        </a>
        <div class="link-meta">
            <a href='/issues/{{ printf "%03d" .Params.issue_number }}'>DT #{{ .Params.issue_number }}</a>
            &mdash;
            {{ .Date.Format "January 2, 2006" }}
            &mdash;
            {{ (index (where .Site.Data.categories "category" .Params.category) 0).name }}
        </div>
        {{ .Content }}
    </div>
    {{ end }}
</div>

{{ end }}