<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Title }}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/headers.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/content.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400&family=Noto+Sans+JP:wght@100;300;400;500&ddisplay=swap"
        rel="stylesheet">
</head>