<div class="index-header">
    <div>
        {{ range seq 40  }}
        <img
            src="https://openai-encyclopedia-public.storage.googleapis.com/production/2020-06-19/alexnet/lucid.feature_vis/feature_vis/alpha%3DFalse%26negative%3DFalse%26objective%3Dchannel%26op%3Dconv4_1%253A0%26steps%3D1024/channel-{{ . }}.png" />
        {{ end }}
    </div>
    <h1><a href="/">Dynamically Typed</a></h1>
    <form>
        <input type="email" id="email" placeholder="Write your email..." />
        <input type="submit" value="Subscibe" />
    </form>
</div>