<div class="index-header">
    <div>
        {{ range seq 40 | shuffle }}
        <img src="/images/header/channel-{{ . }}.png" />
        {{ end }}
    </div>
    <h1><a href="/">Dynamically Typed</a></h1>
    <form action="https://dynamicallytyped.com/add_subscriber" method="post" id="revue-form" name="revue-form"
        target="_blank">
        <input type="email" name="member[email]" id="member_email" placeholder="Write your email..." />
        <input type="submit" value="Subscribe" />
    </form>
</div>