{{ $allIssues := where .Site.RegularPages ".Section" "in" "issues" }}
{{ $allStories := where .Site.RegularPages ".Section" "in" "stories" }}

{{ $cat:= "" }}

{{ if and (eq $cat "") (in .CurrentSection.Dir "stories") }}
{{ $cat = replace (replace .CurrentSection.Dir "stories/" "") "/" "" }}
{{ end }}

{{ if and (eq $cat "") (in .CurrentSection.Dir "links") }}
{{ $cat = replace (replace .CurrentSection.Dir "links/" "") "/" "" }}
{{ end }}

{{ if eq $cat "" }}
{{ $cat = .Page.Params.category }}
{{ end }}

{{ if not $cat }}
{{ $cat = "index" }}
{{ end }}

{{ $meta := (index (where .Site.Data.categories "category" $cat) 0) }}

<div {{ if .IsHome }} class="sidebar-mobile-top" {{ else }} class="sidebar-mobile-bottom" {{ end }}>
    <div class="sidebar cat-{{ $cat }}-border">
        <h2 class="index-section-name">{{ $meta.name }}</h2>
        <p>
            {{ if eq $cat "index" }}
            <b>Dynamically Typed</b> is a fortnightly newsletter covering productized AI, ML research, climate AI, and
            cool
            things.
            {{ else }}
            This section of <b>Dynamically Typed</b> covers
            {{ lower (substr $meta.descriptionShort 0 1) }}{{ substr $meta.descriptionShort 1 }}
            {{ end }}
        </p>
        <p>
            Join {{ .Site.Data.meta.numSubscribers }}+ others and
            <b>subscribe to get DT in your inbox every second Sunday</b> &mdash;
            {{ len (where .Site.RegularPages ".Section" "in" "issues") }} issues and counting!
        </p>
        <form>
            <input type="email" id="email" placeholder="Write your email..." />
            <input type="submit" value="Subscribe" class="cat-{{ $cat }}-background" />
        </form>
        <p>
            Or check out <b>recent DT issues</b> first:
        </p>
        <ul>
            {{ range first 3 $allIssues }}
            <li class="cat-{{ $cat }}">

                <a href="{{ .URL }}">DT #{{ .Params.number }}</a>:
                {{ safeHTML (substr .Title 5) }}
            </li>
            {{ end }}
        </ul>
    </div>


    <div class="index-sections">
        {{ range sort .Site.Data.categories "index" }}
        {{ $content := where $.Site.Pages ".Params.category" .category }}
        {{ if (or (eq $cat "index") (eq $cat .category))}}
        <div class="cat-{{ .category }}-border">
            <h2 class="index-section-name">{{ .name }}</h2>
            <p class="index-section-description">{{ .descriptionShort }}</p>
            <a href="/stories/{{ .category }}" class="index-section-link cat-{{ .category }}-background">
                {{ len ($allStories | intersect $content) }} stories
            </a>
            <a href="/links/{{ .category }}" class="index-section-link cat-{{ .category }}-background">
                {{ len ($content | complement $allStories) }} links
            </a>
        </div>
        {{ end }}
        {{ end }}
    </div>
</div>