:root {
    --color-index-light: hsl(277, 30%, 93%);
    --color-index-medium: hsl(277, 30%, 80%);
    --color-index-dark: hsl(277, 30%, 60%);
    --color-productized-ai-light: hsl(0, 30%, 93%);
    --color-productized-ai-medium: hsl(0, 30%, 80%);
    --color-productized-ai-dark: hsl(0, 30%, 60%);
    --color-ml-research-light: hsl(220, 30%, 93%);
    --color-ml-research-medium: hsl(220, 30%, 80%);
    --color-ml-research-dark: hsl(220, 30%, 60%);
    --color-climate-ai-light: hsl(133, 30%, 93%);
    --color-climate-ai-medium: hsl(133, 30%, 80%);
    --color-climate-ai-dark: hsl(133, 30%, 60%);
    --color-cool-things-light: hsl(36, 30%, 93%);
    --color-cool-things-medium: hsl(36, 30%, 80%);
    --color-cool-things-dark: hsl(36, 30%, 60%);
    --color-text: #333;
    --font-h: 'Overpass Mono', monospace;
    --font-text: 'Noto Sans JP', sans-serif;
    ;
}

body {
    margin: 0;
    color: var(--color-text);
    font-family: var(--font-text);
    font-weight: 300;
}

a {
    text-decoration: none;
    font-weight: 400;
}

b {
    font-weight: 400;
}

h1, h2 {
    font-family: var(--font-h);
}

/* Headers */

.index-header {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px var(--color-text) solid;
    overflow-y: hidden;
}

.index-header>div {
    position: absolute;
    width: 100%;
    z-index: -1;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
    height: 400px;
}

@media screen and (max-width: 1000px) {
    .index-header>div {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .index-header>div {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .index-header>div {
        grid-template-columns: repeat(5, 1fr);
    }
}

.index-header>div>img {
    width: 100%;
}

.index-header>h1 {
    font-size: 2.5rem;
    margin-bottom: 4vh;
    margin-top: 0;
    padding: 0 0.8rem;
    background: rgba(255, 255, 255, 0.9);
}

.index-header>form {
    background: rgba(255, 255, 255, 0.9);
    padding: 0.5rem;
}

.index-header>form>input {
    border: 1px var(--color-text) solid;
    padding: 0.3rem 0.5rem;
    background-color: inherit;
    font-family: var(--font-h);
    margin: 0 0.1rem;
}

.index-header>form>input[type="email"] {
    width: 30ch;
}

.regular-header {
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px var(--color-text) solid;
}

.regular-header>h1>a {
    color: inherit;
    text-decoration: none;
}

/* Content */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 .5rem;
}

.content h1 {
    font-size: 1.5rem;
}

.content h2 {
    font-size: 1.3rem;
}

.content .main {
    max-width: 600px;
}

.content .wide {
    width: 100%;
    max-width: 800px;
}

/* Index-page specific (maybe move into separate file) */

.index-sections {
    width: min(100%, 800px);
    display: grid;
    grid-template: auto / repeat(4, 1fr);
    column-gap: 0.7rem;
}

.index-sections>div {
    padding: 0.5rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
}

.index-sections>div>h2 {
    grid-column: 1 / 3;
    margin: 0;
    margin-bottom: -0.2rem;
    font-size: 0.9rem;
    text-align: center;
}

.index-sections>div>p {
    grid-column: 1 / 3;
    margin: 0;
    font-size: 0.9rem;
}

.index-sections>div>a {
    padding: 0.3rem 0;
    font-family: var(--font-h);
    font-size: 0.65rem;
    text-align: center;
    color: #333;
}

.index-stories>p {
    margin-bottom: 0rem;
}

.index-stories>ul {
    margin-top: 0;
    padding-left: 1.7rem;
}

.index-stories>ul>li {
    margin-top: 0.3rem;
}

/* Category tweaks */

.cat-index a {
    color: var(--color-index-dark)
}

.cat-productized-ai-background {
    background-color: var(--color-productized-ai-light);
}

.cat-ml-research-background {
    background-color: var(--color-ml-research-light);
}

.cat-climate-ai-background {
    background-color: var(--color-climate-ai-light);
}

.cat-cool-things-background {
    background-color: var(--color-cool-things-light);
}

.cat-productized-ai-border {
    border: 1px solid var(--color-productized-ai-dark);
}

.cat-ml-research-border {
    border: 1px solid var(--color-ml-research-dark);
}

.cat-climate-ai-border {
    border: 1px solid var(--color-climate-ai-dark);
}

.cat-cool-things-border {
    border: 1px solid var(--color-cool-things-dark);
}