:root {
    --color-index-light: hsl(277, 30%, 96%);
    --color-index-medium: hsl(277, 30%, 80%);
    --color-index-dark: hsl(277, 30%, 60%);
    --color-productized-ai-light: hsl(0, 30%, 96%);
    --color-productized-ai-medium: hsl(0, 30%, 80%);
    --color-productized-ai-dark: hsl(0, 30%, 60%);
    --color-ml-research-light: hsl(220, 30%, 96%);
    --color-ml-research-medium: hsl(220, 30%, 80%);
    --color-ml-research-dark: hsl(220, 30%, 60%);
    --color-climate-ai-light: hsl(133, 30%, 96%);
    --color-climate-ai-medium: hsl(133, 30%, 80%);
    --color-climate-ai-dark: hsl(133, 30%, 60%);
    --color-cool-stuff-light: hsl(36, 30%, 96%);
    --color-cool-stuff-medium: hsl(36, 30%, 80%);
    --color-cool-stuff-dark: hsl(36, 30%, 60%);
    --color-text: #333;
    --font-h: 'Overpass Mono', monospace;
    --font-text: 'Noto Sans JP', sans-serif;
    ;
}

body {
    margin: 0;
    color: var(--color-text);
    font-family: var(--font-text);
    font-weight: 100;
}

a {
    text-decoration: none;
    font-weight: 300;
}

b {
    font-weight: 400;
}

h1, h2 {
    font-family: var(--font-h);
}

/* Headers */

.index-header {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px var(--color-text) solid;
}

.index-header>h1 {
    font-size: 2.5rem;
    margin-bottom: 4vh;
    margin-top: 0;
}

.index-header>form>input {
    border: 1px var(--color-text) solid;
    padding: 0.3rem 0.5rem;
    background-color: inherit;
    font-family: var(--font-h);
    margin: 0 0.1rem;
}

.index-header>form>input[type="email"] {
    width: 30ch;
}

.regular-header {
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px var(--color-text) solid;
}

.regular-header>h1>a {
    color: inherit;
    text-decoration: none;
}

/* Content */

.content {
    display: flex;
    justify-content: center;
}

.content h1 {
    font-size: 1.5rem;
}

.content h2 {
    font-size: 1.3rem;
}

.content .main {
    max-width: 600px;
}

/* Categories */

.cat-index a {
    color: var(--color-index-dark)
}